<p>Hello,</p>

<p>We received a request to reset your password for your <strong>TruPreneurs.AI</strong> account.
  Click the link below to set a new password:</p>

<p>
  <a href="{{passwordResetLink}}" target="_blank">Reset Your Password</a>
</p>

<p>If the button above does not work, copy and paste this link into your browser:</p>
<p><a href="{{passwordResetLink}}" target="_blank">{{passwordResetLink}}</a></p>


<p>If you did not request a password reset, you can safely ignore this email.</p>

<p>
  This link will expire on <strong>{{passwordResetExp}}</strong>.
</p>

<p>
  Best regards,<br />
  TruPreneurs.AI
</p>